@{
    ViewBag.Title = "Liste des élèves";
}
@using WebApplication.Models
@model List<EleveViewModel>

<div class="row">
    <div class="col-12">
        <h2>Liste des élèves</h2>
        <table style="width: 55%;">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Date de naissance</th>
            </tr>
            @foreach (var eleve in Model)
            {
                <tr>
                    <td>@eleve.Nom</td>
                    <td>@eleve.Prenom</td>
                    <td>@eleve.DateNaissance</td>
                    <td>
                        @Html.ActionLink("Détail", "DetailEleve", "Eleve", new { eleveID = eleve.EleveId })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>